<h2 class="text-center my-4">Lista de Eventos</h2>
<div class="d-flex justify-content-between">
  <button (click)="cargarTodos()">Todos</button>
  <button (click)="cargarLogs()">Logs</button>
  <button (click)="cargarWarns()">Warns</button>
  <button (click)="cargarErrors()">Errors</button>
</div>
@if (eventos.length != 0) {
  <div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
      <thead class="table-dark">
        <tr>
          <th>Empleado</th>
          <th>Categoría</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (evento of eventos; track evento.id) {
        <tr>
          <td>{{ evento.empleadoNombre }}</td>
          <td>
            @if (evento.categoria === 'log') {
              <span class="badge text-bg-primary">Log</span>
            }
            @if (evento.categoria === 'warn') {
              <span class="badge text-bg-warning">Warn</span>
            }
            @if (evento.categoria === 'error') {
              <span class="badge text-bg-danger">Error</span>
            }
          </td>
          <td><strong>{{ evento.nombre }}</strong></td>
          <td>{{ evento.descripcion }}</td>
          <td>{{ evento.fecha }}</td>
          <td>
            <a class="btn btn-danger btn-sm" (click)="eliminarDato(evento.id)">Eliminar</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div class="alert alert-warning text-center">No hay eventos registrados</div>
}
